$white : #fff;
// green
$turquoise: #1abc9c;
$greensea: #16a085;
$emerland: #2ecc71;
$nephritis: #27ae60;

// blue
$peterriver: #3498db;
$belizehole: #2980b9;

// dark blue
$wetasphalt: #34495e;
$midnightblue: #2c3e50;

// blue gray
$bluegray50: #ECEFF1;
$bluegray600: #607D8B;
$bluegray800: #37474F;
$bluegray900 : #263238;
$bluegray: #607D8B;

// yellow
$sunflower: #f1c40f;
$orange: #f39c12;

// orange
$carrot: #e67e22;
$pumpkin: #d35400;

// red
$alizarin: #e74c3c;
$pomegranate: #c0392b;

// purple
$amethyst: #9b59b6;
$wisteria: #8e44ad;

// white
$clouds: #ecf0f1;
$silver: #bdc3c7;
$white: #ffffff;

// gray
$concrete: #95a5a6;
$asbestos: #7f8c8d;
