.ResizableLayout {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: $layoutHeight;
}

.ResizableBox {
  height: inherit;
  max-width: 100%;
  flex-shrink: 1;
}

.ResizeHandle {
  height: inherit;
  width: 5;
  flex-shrink: 1;
}
